.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* This ensures the footer is always on top */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}