
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasktician</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body class="bg-gray-100 flex-col min-h-screen">
    <header class="bg-blue-500 text-white py-2 px-4 mb-4 shadow-md">
        <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
            <a href="/home" class="font-bold text-2xl text-white mb-2 md:mb-0">
                <i class="fas fa-tasks pr-2 "></i>Tasktician
            </a>
            <div class="font-bold text-xl text-white mb-2 md:mb-0">Welcome to Tasktician's Attorney Mode {{ username }}!</div>
            <nav>
                <ul class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-4 items-center">
                    <li><button hx-get="/toggle-microphone" hx-swap="innerHTML" hx-trigger="click" class="text-white hover:text-blue-500 font-bold py-2 px-4 rounded">
                        <i class="fas fa-microphone"></i>
                    </button></li>
                    <li><a href="/logout" class="text-white hover:text-blue-500 font-bold py-2 px-4 rounded">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="InProgressTasks" class="container mx-auto p-2 max-w-8xl overflow-x-auto">
        <div class="bg-white shadow-md rounded px-8 pt-2 pb-2 mb-2" style="min-width: 1000px;">
            <h1 class="text-2xl font-bold mb-6 text-center text-blue-500">In Progress</h1>


            <div id="todo-list" hx-get="/get_all_todos" hx-swap="innerHTML" hx-trigger="load">
                <!-- Existing to-do items will be loaded here -->
            </div>
            <form hx-post="/add" hx-target="#todo-list" hx-swap="innerHTML" class="mt-4 mb-4">

                <div class="flex mb-4">
                    <div class="w-1/12" style="visibility: hidden;">
                        <div class="border p-2 mr-2 w-full"></div>
                    </div>
                    <div class="w-6/12">
                        <input type="text" id="tasks" name="tasks" placeholder="Add a new to-do item" class="border-2 p-2 mr-2 w-full text-center">
                    </div>
                    <div class="w-1/12">
                        <input type="text" id="client" name="client" placeholder="" class="border p-2 mr-2 w-full">
                    </div>
                    <div class="w-1/12">
                        <input type="number" id="client_id" name="client_id" placeholder="" class="border-2 p-2 mr-2 w-full">
                    </div>
                    <div class="w-1/12">
                        <input type="number" id="matter_id" name="matter_id" placeholder="" class="border-2 p-2 mr-2 w-full">
                    </div>
                    <div class="w-1/12">
                        <input type="date" id="due_date" name="due_date" class="border-2 mr-2 p-2 w-full">
                    </div>
                    <div class="w-1/12">
                        <input type="date" id="date_completed" name="date_completed" class="border p-2 mr-2 w-full">
                    </div>
                    <div class="w-1/12">
                        <input type="text" id="time_spent" name="time_spent" placeholder="" pattern="^\d*(\.\d{0,2})?$" class="border p-2 mr-2 w-full">
                    </div>
                </div>
                <div class="flex justify-center">
                    <button type="submit" class=" bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6 mx-2">
                        New Task
                    </button>
                    <style>
                        #auto-subtask-btn {
                            transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, rotate 0.3s ease-in-out;
                        }
                        #auto-subtask-btn:hover {
                            transform: scale(1.2) rotate(10deg);
                            background-color: purple;
                        }
                    </style>
                    
                    <button type="button" id="auto-subtask-btn" class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded mt-4 mb-6 mx-2">
                        Magic Subtask
                    </button>
                    
                    <button type="button" id="mark-complete-btn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6 mx-2">
                        Mark Complete
                    </button>
                    
                    <button type="button" id="delete-btn" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6 mx-2">
                        Delete
                    </button>
                </div>
            </form>

            <div id="loadingMessage" style="display: none;"><br>Loading...<br></div>

        </div>
    </div>
    <div id="CompletedTasks" class="container mx-auto p-2 max-w-8xl overflow-x-auto">
        <div class="bg-white shadow-md rounded px-8 pt-2 pb-2 mb-2" style="min-width: 1000px;">
            <h1 class="text-2xl font-bold mb-6 text-center text-blue-500">Completed</h1>


            <div id="completed-list" hx-get="/get_all_complete_todos" hx-swap="innerHTML" hx-trigger="load">
                <!-- Completed items will be loaded here -->
            </div>
            <form hx-post="/add_new_completed" hx-target="#completed-list" hx-swap="innerHTML" class="mb-1 mt-1">
                <div class="flex mb-2">
                    <div class="w-1/12" style="visibility: hidden;">
                        <div class="border p-2 mr-2 w-full"></div>
                    </div>
                    <div class="w-5/12">
                        <input type="text" id="tasks" name="tasks" placeholder="Add a new completed task" class="border p-2 mr-2 w-full">
                    </div>
                    <div class="w-2/12">
                        <input type="text" id="client" name="client" placeholder="" class="border p-2 mr-2 w-full">
                    </div>
                    <div class="w-1/12">
                        <input type="number" id="client_id" name="client_id" placeholder="" class="border p-2 mr-2 w-full">
                    </div>
                    <div class="w-1/12">
                        <input type="number" id="matter_id" name="matter_id" placeholder="" class="border p-2 mr-2 w-full">
                    </div>
                    <div class="w-1/12">
                        <input type="date" id="date_completed" name="date_completed" class="border p-2 mr-2 w-full">
                    </div>
                    <div class="w-1/12">
                        <input type="text" id="time_spent" name="time_spent" placeholder="" pattern="^\d*(\.\d{0,2})?$" class="border p-2 mr-2 w-full">
                    </div>
                </div>
                <div class="flex justify-center">
                    <button type="submit" id="add-new-completed-btn" class="flex justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6 mx-2">
                            Add New Completed
                    </button>
                </div>                
            </form>
                <div class="flex justify-center">
                    <button id="submit-juris-btn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6 mx-2">
                        Export to CSV
                    </button>
                    <button id="delete-completed-btn" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6 mx-2">
                        Delete
                    </button>
                </div>
        </div>
    </div>
    <footer class="bg-white text-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
            <p>© 2023 Tasktician. All rights reserved.</p>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="/terms" class="hover:text-blue-500">Terms</a></li>
                    <li><a href="/privacy" class="hover:text-blue-500">Privacy</a></li>
                </ul>
            </nav>
        </div>
    </footer>
    <script> 
        document.getElementById('delete-btn').addEventListener('click', function() {
            // Get all checkboxes
            let checkboxes = document.querySelectorAll('.todo-checkbox');
            // Filter out the selected checkboxes
            let selectedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            // Map the selected checkboxes to their values
            let selectedValues = selectedCheckboxes.map(checkbox => checkbox.value);
            
            // Send the selected values to the /delete endpoint
            fetch('/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(selectedValues),
            })
            .then(() => {
                // Fetch the updated list of todos
                return fetch('/get_all_todos');
            })
            .then(response => response.text())
            .then(html => {
                // Replace the old content with the new content
                document.getElementById('todo-list').innerHTML = html;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
        document.getElementById('mark-complete-btn').addEventListener('click', function() {
            // Get all checkboxes
            let checkboxes = document.querySelectorAll('.todo-checkbox');
            // Filter out the selected checkboxes
            let selectedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            // Map the selected checkboxes to their values
            let selectedValues = selectedCheckboxes.map(checkbox => checkbox.value);

            // Get all time spent fields
            let timeSpentFields = document.querySelectorAll('.time-spent-field');
            // Get the values of the selected checkboxes
            let selectedCheckboxValues = selectedCheckboxes.map(checkbox => checkbox.value);
            // Filter out the time spent fields that correspond to the selected checkboxes
            let selectedTimeSpentFields = Array.from(timeSpentFields).filter((field, index) => selectedCheckboxValues.includes(checkboxes[index].value));
            // Map the selected time spent fields to their values
            let changedValues = selectedTimeSpentFields.map(field => parseFloat(field.textContent));

            // Send the selected values to the /mark_complete endpoint
            fetch('/mark_complete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    item_ids: selectedValues,
                    time_spent: changedValues
                }),
            })
            .then(() => {
                // Fetch the updated list of todos
                return fetch('/get_all_todos');
            })
            .then(response => response.text())
            .then(html => {
                // Replace the old content with the new content
                document.getElementById('todo-list').innerHTML = html;
            })
            .then(() => {
                // Fetch the updated list of completed todos
                return fetch('/get_all_complete_todos');
            })
            .then(response => response.text())
            .then(html => {
                // Replace the old content with the new content
                document.getElementById('completed-list').innerHTML = html;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
        document.getElementById('delete-completed-btn').addEventListener('click', function() {
            // Get all checkboxes
            let checkboxes = document.querySelectorAll('.todo-checkbox');
            // Filter out the selected checkboxes
            let selectedCheckboxes = Array.from(checkboxes).filter(checkbox => checkbox.checked);
            // Map the selected checkboxes to their values
            let selectedValues = selectedCheckboxes.map(checkbox => checkbox.value);
            
            // Send the selected values to the /delete endpoint
            fetch('/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(selectedValues),
            })
            .then(() => {
                // Fetch the updated list of todos
                return fetch('/get_all_complete_todos');
            })
            .then(response => response.text())
            .then(html => {
                // Replace the old content with the new content
                document.getElementById('completed-list').innerHTML = html;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
        
    </script>
    <script>
        $(document).ready(function(){
            $(".toggleButton").click(function(){
                var target = $(this).data('target');
                $("#" + target).slideToggle("fast");
            });
        });
    </script>
    <!-- <script>
        document.querySelector('form').addEventListener('submit', function(e) {
            e.preventDefault();
            // your form submission logic here
            // after form submission logic, clear the form
            e.target.reset();
        });
    </script> -->

    <script>
        // Modularize your code
        function toggleCheckboxes(tableId) {
            var table = document.getElementById(tableId);
            var checkboxes = table.getElementsByClassName('todo-checkbox');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = !checkboxes[i].checked;
            }
        }

        // Use event delegation
        document.addEventListener('click', function(e) {
            if(e.target && e.target.id == 'select-all-completed') {
                toggleCheckboxes('completed-table');
            }
            else if(e.target && e.target.id == 'select-all-todo') {
                toggleCheckboxes('todo-table');
            }
        });
    </script>
</body>
</html>


