
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasktician</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://unpkg.com/htmx.org"></script>
</head>
<body class="bg-gray-100 flex flex-col min-h-screen">
    <header class="bg-blue-500 text-white p-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="font-bold text-xl">Tasktician</h1>
            <nav>
                <ul class="flex space-x-4 items-center">
                    <li><button hx-get="/toggle-microphone" hx-swap="innerHTML" hx-trigger="click" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        <i class="fas fa-microphone"></i>
                    </button></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container mx-auto p-4 max-w-4xl flex-grow">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2">
            <h1 class="text-2xl font-bold mb-6 text-center">👨‍💻 TaskMaster 📝</h1>
            <form hx-post="/todo/" hx-target="#todo-list" hx-swap="beforeend" class="mb-4">
                <div class="flex justify-center items-center mb-4">
                    <input type="text" name="content" placeholder="Add a new to-do item" class="border p-2 mr-2 w-full">
                </div>
                <div class="flex justify-center">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Add Task
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="container mx-auto p-4 max-w-4xl flex-grow">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2">
            <h1 class="text-2xl font-bold mb-6 text-center">In Progress</h1>

            <div id="todo-list" hx-get="/todo/" hx-trigger="load">
                <!-- Existing to-do items will be loaded here -->
            </div>
            <div id="loadingMessage" style="display: none;">Loading...</div>
            <div class="flex justify-center">

                <button id="auto-subtask-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6">
                    Auto Subtask
                </button>
                
                <button id="mark-complete-btn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6">
                    Mark Complete
                </button>

                <button id="delete-btn" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6">
                    Delete
                </button>
            </div>
        </div>
    </div>
    <div class="container mx-auto p-4 max-w-4xl flex-grow">
        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-2">
            <h1 class="text-2xl font-bold mb-6 text-center">Completed</h1>
            <form id="completed-list" hx-get="/todo/completed" hx-trigger="load">
                <!-- Completed items will be loaded here -->
            </form>
            <div class="flex justify-center">

                <button id="submit-juris-btn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6">
                    Submit to Juris
                </button>
                <button id="delete-completed-btn" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4 mb-6">
                    Delete
                </button>
            </div>
        </div>
    </div>
    <footer class="bg-blue-500 text-white p-4 mt-8 fixed-footer">
        <div class="container mx-auto flex justify-between items-center">
            <p>© 2022 TaskMaster. All rights reserved.</p>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="/terms">Terms</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>
