<div class="p-2" style="text-align: center;">Success! You may now login!</div>
<div id="login-box" class="mx-auto">
    <h1 class="text-2xl font-bold mb-2 text-center">Login</h1>
    <form hx-post="/login" hx-redirect="follow" hx-swap="innerHTML">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username" name="username">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************" name="password">
        </div>
        <div class="flex justify-center">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                Sign In
            </button>
        </div>
    </form>
    <div class="flex justify-center mt-4">
        <div hx-get="/get_register_box" hx-target="#login-box" hx-swap="innerHTML" hx-trigger="click" class="text-blue-500 hover:text-blue-700">Don't have an account? Click here to register.</div>
    </div>
</div>